body{
   background-color: 	rgb(169,169,169); 
}

img{
    /* border-radius: 1%; */
    /* margin: 1.5%; */
    margin: calc(10%/6);
    width: 30%;
    height: 25em;
    object-fit: cover;
}

nav{
    text-transform: uppercase;
    font-weight: bold;
    margin-left: calc(10%/6);
    
}

hr{
   width: 50%;
   text-align: left;
   margin-left: 1.5%;
  
   
}

a:link{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }

a{
    font-size: 20px;
    float: right;
    text-transform: capitalize;
}

footer {
    margin-right: 1.5%;
    float: right;
    text-transform: uppercase;
    position: relative;
    bottom:0; 
}
